###
# ignore all "local" files
local/
.env
.venv

#

**/.vscode/**
!**/.vscode/launch.example.json

##
.aider*
##
docker/gateway/etc/service/traefik/index.html*
docker/gpt-researcher/gptr/outputs/*
##
__debug_bin*